// Global variables

// Buttons
$btn-border: rgba(96, 102, 208, 0.7);
$btn-selected: #f9a826;
$btn-selected--box-shadow: rgba(252, 168, 47, 0.4);
$btn-error: #ea8282;
$btn-success: #60bf88;

// Texts

$white: #fff;
$white--variation-1: #f2f2f2;
$violet: rgba(96, 102, 208, 0.8);
$dark-blue: #1d355d;
$dark-blue--variation-1: #2F527B;

// misc
$green: rgb(135 205 155);
$bg-violet: rgb(83, 86, 156);
$bg-square-pattern: rgba(96, 102, 208, 0.7);
